@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Light (default) */
@theme {
    --color-bg: #1d1e20;
    --color-bg-secondary: #383a3e;
    --color-border: #46484d;

    --color-text: #f3f4f6;
    --color-text-secondary: #d1d5db;
    --color-text-muted: #9ca3af;

    --color-primary: #71ac53;
    --color-primary-soft: #2a3a25;

    --color-secondary: #4ea1b1;
    --color-secondary-soft: #1f353a;

    --color-hover: #2a2c30;
    --color-active: #34363b;

    --default-font-family: "Playfair Display", serif;
}

.font-sans {
    font-family: "Inter", sans-serif;
}
