---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Page Not Found">
  <h1 class="text-text text-5xl mb-4">Page Not Found</h1>
  <p class="text-text-secondary font-sans">
    The page you are looking for does not exist (<span class="text-secondary"
      >404</span
    >).
  </p>
  <a
    href="/"
    class="text-primary hover:text-secondary transition-all underline"
  >
    <div class="flex items-center gap-2 hover:gap-3 transition-all select-none">
      <span>Return Home</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
      </svg>
    </div>
  </a>
</BaseLayout>
