---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import GradientOrbs from "../components/GradientOrbs.astro";
import Test from "../components/Test.astro";
---

<BaseLayout title="Kyle Carey">
    <div class="flex flex-row justify-between gap-8 mb-24">
        <div class="flex-2 text-text">
            <h1 class="text-5xl mb-4">
                Hi, I'm <span
                    class="underline decoration-primary hover:decoration-secondary transition-colors"
                    >Kyle</span
                >.
            </h1>
            <p class="font-sans text-lg text-text-secondary">
                Computer Science + Artificial Intelligence student at Ohio
                University's Russ College of Engineering. I'm currently
                interested in parallel computing, distributed systems, web
                development, and building cool shit. I recently built <a
                    class="text-primary underline hover:text-secondary cursor-pointer"
                    href="https://kygle.xyz">Kygle</a
                >, a search engine built from scratch.
            </p>
        </div>
        <div
            class="relative flex-1 border border-border rounded-xl overflow-hidden"
        >
            <Test />
        </div>
    </div>
</BaseLayout>
