---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Kyle Carey">
  <div class="bg-bg p-4" style="height: 4000px;">
    <h1 class="text-text text-2xl">
      Kyle Carey Kyle Carey Kyle Carey Kyle Carey Kyle Carey Kyle Carey
    </h1>
    <h1 class="text-primary text-2xl">Primary Accent</h1>
    <h1 class="text-secondary text-2xl">Secondary Accent</h1>
    <div class="bg-primary p-4 w-fit">
      <span class="text-text font-sans">Primary</span>
    </div>
    <div class="bg-secondary mt-2 p-4">
      <span class="text-text font-sans">Secondary</span>
    </div>
    <div class="bg-primary p-4 w-fit">
      <span class="text-text font-sans">Primary</span>
    </div>
    <div class="bg-secondary mt-2 p-4 w-fit">
      <span class="text-text font-sans">Secondary</span>
    </div>
    <div class="bg-primary p-4 w-fit">
      <span class="text-text font-sans">Primary</span>
    </div>
    <div class="bg-secondary mt-2 p-4 w-fit">
      <span class="text-text font-sans">Secondary</span>
    </div>
  </div>
</BaseLayout>
