---
interface Props {
  padding: string;
}
const { padding } = Astro.props as Props;
---

<nav
  class={`flex flex-row text-text justify-between items-center ${padding} py-8 sticky top-0 select-none backdrop-blur-lg bg-linear-to-t from-bg/20 to-bg/95 z-50`}
>
  <a class="text-2xl hover:text-text-secondary transition-colors" href="/">KC</a
  >
  <ul class="flex flex-row gap-4">
    <li>
      <a class="hover:text-text-secondary transition-colors" href="/about"
        >About</a
      >
    </li>
    <li>
      <a class="hover:text-text-secondary transition-colors" href="/projects"
        >Projects</a
      >
    </li>
    <li>
      <a class="hover:text-text-secondary transition-colors" href="/blog"
        >Blog</a
      >
    </li>
  </ul>
</nav>
