---
const { text } = Astro.props;
---

<div
  class="flex flex-row items-center rounded border-border border-2 bg-bg px-2 py-1 whitespace-nowrap"
>
  <span class="text-text-secondary m-0 font-sans">{text}</span>
</div>
